.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment, left);
}

.card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius, 0);
}

.card--card::after,
.card--standard .card__inner::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width, 1px) * 2 + 100%);
  height: calc(var(--border-width, 1px) * 2 + 100%);
  top: calc(var(--border-width, 1px) * -1);
  left: calc(var(--border-width, 1px) * -1);
  border-radius: var(--border-radius, 0);
  box-shadow: var(--shadow-horizontal-offset, 0px) var(--shadow-vertical-offset, 4px)
    var(--shadow-blur-radius, 5px) rgba(var(--color-shadow, 10, 10, 10), var(--shadow-opacity, 0.05));
}

.card .card__inner .card__media {
  overflow: hidden;
  z-index: 0;
  border-radius: calc(var(--border-radius, 0) - var(--border-width, 1px) - var(--image-padding, 0rem));
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--text-alignment, left);
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.card .media { width: 100%; }

.card__media {
  margin: var(--image-padding, 0rem);
  width: calc(100% - 2 * var(--image-padding, 0rem));
}

.card__inner { width: 100%; }

.card__content {
  display: grid;
  grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}

.card__information {
  grid-row-start: 2;
  padding: 1.3rem 0;
}

.card:not(.ratio) > .card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}

.card-information > * + * { margin-top: 0.5rem; }
.card-information { width: 100%; }
.card-information > * {
  line-height: calc(1 + 0.4 / var(--font-body-scale, 1));
  color: rgb(var(--color-foreground, 10, 10, 10));
}

.card__heading {
  margin: 0;
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight, 400);
  font-size: calc(var(--font-heading-scale, 1) * 1.4rem);
}

.card__heading a::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}

.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__inner:not(.ratio) > .card__content { height: 100%; }

.card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 0.7rem;
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child {
    transition: transform var(--duration-long, 500ms) ease;
  }
  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: scale(1.03);
  }
  .card-wrapper:hover .media.media--hover-effect > img:first-child:not(:only-child) { opacity: 0; }
  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long, 500ms) ease;
    transform: scale(1.03);
  }
}

@media screen and (min-width: 750px) {
  .card__information { padding-bottom: 1.7rem; padding-top: 1.7rem; }
}

/* Standard card hides inner info (shown below image) */
.card--standard.card--media .card__inner .card__information,
.card--standard:not(.card--horizontal) > .card__content .card__badge { display: none; }
.card--standard > .card__content { padding: 0; }
.card--standard > .card__content .card__information { padding-left: 0; padding-right: 0; }

/* Card style */
.card--card.card--media .card__inner .card__information,
.card--card.card--media > .card__content .card__badge { display: none; }

.card--extend-height { height: 100%; }
.card--extend-height.card--standard.card--text,
.card--extend-height.card--media { display: flex; flex-direction: column; }
.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner { flex-grow: 1; }
